h1 {
    color: red;
    background-color: blue;
    border-radius: 57%;
    text-align: center;
}

#t {
    background-position: 25%;
}

#formulario {
    background-color: aquamarine;
    text-align: center;
    
}

#avion {
    text-align: center;
}

#av {
    background-color: brown;
}